.header {
  background-color: #3d3636;
  display: flex;
  justify-content: space-around;
  border: 2px solid #000000;
  box-shadow: 7px -10px 19px 1px #12c0ff;
  flex-wrap: wrap;
}

.header__button {
  height: 30px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 25px;
}

.header__button:hover {
  background-color: teal;
}

.header__title {
  font-size: 34px;
  text-align: center;
  color: #360afa;
  order: 1;
}

.header__list {
  order: 2;
  max-width: 270px;
  width: 250px;
  list-style: none;
  font-size: 25px;
  line-height: 1.2;
}

.header__list--item:hover {
  background-color: #e6dfdfe3;
}

.header__list--item {
  border: 2px solid #000000;
  margin: 5px;
  border-radius: 25px;
  text-align: center;
  background-color: #ffffff;
}

.header__list--link {
  text-decoration-line: none;
}

.header__jpg {
  padding: 21px;
  max-width: 250px;
  border-radius: 50%;
}

.header__span {
  font-size: 45px;
  color: #ffffff;
}

.header__strong {
  font-size: 60px;
  color: #fa0a0a;
}
