.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sections {
    margin-top: 60px;
    background-color: #0e0d0d;
    border: 2px solid #000000;
    box-shadow: 13px -6px 19px 1px #12c0ff;;
    overflow-x: auto;
}

.section__title {
    text-align: center;
    font-size: 55px;
    color: #e60b0b;
}

.section__txt {
    color: #f0f8ff;
    font-size: 25px;
    padding: 10px;
    margin: 10px;
}

.section__strong {
    color: #e60b0b;
}

.section__table--cap {
    color: #e60b0b;
    text-align: right;
    caption-side: bottom;
}

.section__table {
    cursor: pointer;
    border-collapse: collapse;

}

.theader {
    color: #f0f8ff;
    border: 2px solid blueviolet;
    font-size: 25px;
    text-align: center;
    padding: 10px;
}

.section__table--tr:hover {
    background-color: #696969;
}